<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<% if @error %>
			<h4><%= @error %></h4>
		<% end %>
		<h2>Join your <%= office_title(@cohort.office) %> cohort.</h2>
		<%= form_for @user, { url: join_cohort_path(@cohort.join_token), method: 'post' } do |f| %>
			<%= render partial: 'signup_form', locals: {f: f} %>
		<% end %>
	</div>
	<div class="col-md-4"></div>
</div>