<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<td>
						<%= link_to admin_companies_path do %>
							<button type="button" class="btn btn-primary btn-lg btn-block">All Companies</button>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>
						<%= link_to new_admin_company_path do %>
							<button type="button" class="btn btn-primary btn-lg btn-block">New Company</button>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>