
<div class="row">
	<div class="col-md-4"></div>
	
	<div class="col-md-4">
		<%= link_to(login_path) do %>
			<button type="button" class="btn btn-primary btn-lg">Login</button>
		<% end %>
	</div>

	<div class="col-md-4"></div>
</div>