* {
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	box-sizing: border-box;

}

/* Dashboard Styling */



img#user-photo {
	display: inline-block;
}

h3#user-name, .user-name {
	display: inline-block;
	margin-left: 6px;
}

div#manage-cohorts-links h2 {
	display: inline-block;
}

div#manage-cohorts-links button {
	display: inline-block;
}

div#cohorts-list {
	border: 1px solid gray;
}


/* Cohort Pinterest Style Layout */

div#masonry-container {
/* 	margin: 0 auto; */
/* 	border: 1px solid gray; */
}

div.masonry-item {
	color: white;
	padding: 6px;
	border-radius: 3px;
	-webkit-box-shadow: 20px 10px 6px -6px #777;
 	   -moz-box-shadow: 20px 10px 6px -6px #777;
	        box-shadow: 2px 10px 6px -6px #777;
	min-width: 200px;
	margin-left: 20px;
	margin-bottom: 10px;
}

div.supervisor {
	background-color: #1D3040; 
}

div.non-supervisor {
	background-color: #6AAEE5;
}
