<div class='row'>
	<div class='col-md-4'>
		<%= render 'profile_photo_area' %>
	</div>

	<div class='col-md-8'>
		<div class='row'>
			<div class='col-md-6'>
				<h2>Budget</h2>
			</div>
			<div class='col-md-3'>
				<div id='new-cohort-form' style='display:none'>
					<%= render 'office/cohorts/form' %>
				</div>
				<div id='manage-cohorts-links'>
					<%= link_to(cohorts_path) do %> 
						<h2>Cohorts</h2>
					<% end %>
					<button id='new-cohort-button' class='btn btn-default'>New!</button>
				</div>
			</div>
			<div class='col-md-3'><h2>Resources</h2></div>
		</div>
	</div>
</div>


<script>
	$(function() {
		$('button#new-cohort-button').on('click', function() {
			$('div#manage-cohorts-links').hide();
			$('div#new-cohort-form').show();
		});

		$('button#remove-form').on('click', function() {
			$('div#manage-cohorts-links').show();
			$('div#new-cohort-form').hide();
		});
	});
</script>